#about {}

.about-name {
    font-family:
        font-size: 5rem;
    text-align: center;
}

#about-tagline {
    text-align: center;

}

#about-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 50%;
}

.social-media-icon {
    width: 2rem;
    height: 2rem;
}

#testimonials {}

#projects {}

#contacts {}