.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.about-name {
    font-family: undefined;
    font-size: 5rem;
    text-align: center;
}

#about-tagline {
    text-align: center;

}

#about-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 50%;
}

.social-media-icon {
    width: 2rem;
    height: 2rem;
}

.section-header {
    display: flex;
    justify-content: center;
    border-bottom: 2px;
    text-decoration-line: underline;
}

.section-carousel {
    width: 100%;
    overflow-x: scroll;
}

#projects-container,
#testimonials-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: 100%;
    justify-content: center;
    padding-top: 4em;
    text-align: center;
}

.testimonial-cards,
.project-cards {
    margin: 1em;
}


.card-photo {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#contact {
    padding: 4em 0em 4em 0em;
    background-color: rgb(82, 119, 221);
}

#contact-container {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

#testimonials,
#projects {
    padding: 4em 0em 4em 0em;
    background-color: silver;
}